.footer{
    position: absolute;
    background-color:$darkblue;
    text-align:center;
    bottom:0;
    padding:2rem;
    @include breakpoint-up(large){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows:2fr 2fr;
    grid-template-areas:'logo links1 links2 cta'
                        'social links1 links2 copyright';
    gap:1rem;
    justify-content: start;
    }                    
    
    
    a{
        color: white;
    }
    p{
        color:white;
    }
    &__logo{
        display: inline-block;
        margin-bottom:1.875rem;
        transition:color 200ms ease-in;

        @include breakpoint-up(large){
            grid-area: logo;
        }
    }

    &__social{
        margin-bottom: 1.5rem;
        
        @include breakpoint-up(large){
            grid-area:social;
        }
    }
    &__links{
        line-height: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            line-height: 2rem;
            transition:color 150ms;
            /*position: relative;
            &::before{
                content: "";
                display: block;
                position: absolute;
                top:0;
                left:0;
                height:100%;
                width:100%;
                background-color: linear-gradient(red to pink);
                border-radius:50px;
                opacity:0;
                transition: all 150ms;

                &:hover{
                    opacity: 1;
                }
            }*/

            &:hover{
                color:limegreen;
            }
        }
        &.col1{
            @include breakpoint-up(large){
                grid-area:links1;
            }
        }
        &.col2{
            margin-bottom:1.5rem;
            @include breakpoint-up(large){
                grid-area:links2;
            }
        }
    }
    &__cta{
        a.button{
            @include breakpoint-up(large){
                grid-area:cta;
            }
        }
        p{
            @include breakpoint-up(large){
                grid-area:copyright;
            }
        }
    }
}  