.header {
    
    &.open {
        .overlay{
            display: block;
        }
        .header__hamburger{
        >span:first-child {
            transform: rotate(45deg);
        }
    
        >span:nth-child(2) {
            opacity: 0;
        }
    
        >span:last-child {
            transform: rotate(-45deg);
        }
    }
    }
    .nav{
        position:relative;
        background:#fff;
        padding:1.0625rem 1.5rem;
    }
    
    &__hamburger {

        >span {
            display: block;
            width: 25px;
            height: 5px;
            background-color: $darkblue;
            transition: all 300ms ease-in-out;
            transform-origin: -1px 1px;


            &:not(:last-child) {
                margin-bottom: 5px;
            }

        }
    }
    &__toggle{
        background:$White;
        padding: 1.625rem;
        margin:1.5rem 1.5rem;
        position: absolute;
        width:calc(100% - 5rem);  //lines below here overflowing the toggle menu, understand these.
        left:50%;                 //these have been adjusted to get a round-off value.
        transform: translateX(-55%);
        border-radius:5px;
        
        a{
            display:flex;
            justify-content: center;
            color:$darkblue;
            padding:0.625rem;
        }
    }

    &__menu {

        a {
            font-size: $font-sm;
            transition: color 200ms; //this line of code isn't working!

            &:not(:last-child) {
                margin-right: 32px;
            }
        }

        &::before {
            content: "";
            display:block;
            position: relative; //relative here gives a complete line and absolute dosen't work!
            height: 5px;
            bottom: -49px;
            left: 0;
            right: 0;
            background: lime;
            background: linear-gradient(to right, $limegreen, $brightcyan);
            opacity: 0;
            transition: opacity 300ms ease-in-out;
        }

        &:hover {
            color: $darkblue;

            &::before {
                opacity: 1;
            }
        }
    }

    &__logo {
        img {
            width: 8.125rem;
            height: 1.375rem;
        }
    }
}

.bold {
    font-weight: 100;
}

.overlay {
    display: block; //Fade-out animation isn't working! Replacing this with display:block so that, the toggle does not animates as well!
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    //background: $darkblue;
    background-image: linear-gradient($darkblue, transparent);
    
}