.header{
    .nav {
        padding: 24px;
    }

    &__hamburger {
        
        > span {
            display: block;
            width: 25px;
            height: 3px;
            background-color:$darkblue;
            

            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }
    }
}

.bold{
    font-weight: 100;
}

&__menu{
    color: $grayishBlue;
}