//Styles for Hero
.hero{
    background-color: $veryLightGray;
    //switching to flex-box when moving up to desktop
    @include breakpoint-up(large){
        display:flex;
        align-items:center;
        
    }
    
    &__image{
        position:relative;
        background-image:url(/images/bg-intro-mobile.svg);
        background-size:cover;
        background-position: center center;
        min-height:17.5rem;

        //Usage of mixins to shift the background image when switching to desktop
        @include breakpoint-up(large){
            flex:1;
            order:2;
            height:40rem;
            //background-image:url(/images/bg-intro-desktop.svg);   
        }

        &::before{
            @include breakpoint-up(large){
            content:"";
            position:absolute;
            background-image:url(/images/bg-intro-desktop.svg);
            background-size:96%;
            background-position:bottom center;
            height:100%;
            width:100%;
            background-repeat: no-repeat;
            }
        }
        &::after{
            content:"";
            position:absolute;
            background-image:url(/images/image-mockups.png);
            background-size:96%;
            background-position:bottom center;
            height: 120%;
            width:90%;
            left:10%;
        }
    }

    &__text{
        text-align:center;
         
        @include breakpoint-up(large){
            text-align:left;
        }
        
        h1{
           margin-bottom:1.5rem;
        }
        p{
          line-height:1.5;
        }
    }
}