//Adding variables for our color elements so that we can reuse them
$darkblue:hsl(233, 26%, 24%);
$limegreen: #00FF00;
$brightcyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

//Creating variables for different font sizes as well
$font-sm:0.875rem; //14px/16px=rem size(relative size)
$font-med:1.125rem;// 18px